.container-admin {
    /* box-shadow: 0px 0px 5px 0px #737373; */
    position: relative;


    .menu-container-admin {
        background-color: #fff;
        min-height: 100vh;
        width: 100%;
        // overflow: auto;
        box-shadow: 0px 0px 5px 0px rgb(224, 224, 224);
        animation: SideBar_truot 0.5s ease-in-out;
    }

    @keyframes SideBar_truot {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    .menu-container-admin img {
        width: 40%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 10px;

    }

    .menu-container-admin .main_Menu {
        margin-top: 20px;
    }

    .menu-container-admin .main_Menu .single_Menu {
        user-select: none;
        clear: both;
        position: relative;
        margin: 10px 15px;
    }

    .menu-container-admin .main_Menu .single_Menu .icon-menu {
        float: left;
        font-size: 20px;
        position: relative;
        top: 50%;
        transform: translateY(-10%);
        margin-right: 10px;
    }

    .menu-container-admin .main_Menu .single_Menu .icon-menu .custom-svg {
        fill: #667085;
    }

    .menu-container-admin .main_Menu .single_Menu .faChevronIcon {
        float: right;
        position: relative;
        top: 5px;
    }

    .menu-container-admin .main_Menu .single_Menu .number_SideBar {
        position: absolute;
        top: 10px;
        right: 20px;

        span {
            background-color: red;
            color: #fff;
            padding: 0px 5px;
            font-size: 10px;
            border-radius: 20px;
        }
    }

    .menu-container-admin .main_Menu .scroll_bar {
        max-height: 75vh;
        overflow: auto;
    }

    .menu-container-admin .main_Menu .single_Menu h1,
    .menu-container-admin .main_Menu .single_Menu h2 {
        font-weight: 500;
        color: #667085;
        font-size: 14px;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
    }

    .menu-container-admin .main_Menu .active h2,
    .menu-container-admin .main_Menu .active h1 {
        background-color: #5C59E8;
        color: #fff;
    }

    .menu-container-admin .main_Menu .active .icon-menu .custom-svg {
        fill: #fff;
    }

    .menu-container-admin .main_Menu .dropdow_Focus .icon-menu .custom-svg {
        fill: #5C59E8;
    }

    .menu-container-admin .main_Menu .single_Menu h1:hover .icon-menu .custom-svg {

        fill: rgb(255, 255, 255);
        font-weight: 600;
    }

    .menu-container-admin .main_Menu .single_Menu h2 {
        padding: 10px 30px;
        border: 1px solid #fff;
    }

    .menu-container-admin .main_Menu .single_Menu .single_Menu_1 {
        background-color: #e8e8e8;
        border-radius: 5px;
    }

    .menu-container-admin .main_Menu .single_Menu h1:hover,
    .menu-container-admin .main_Menu .single_Menu h2:hover {
        background: #5C59E8;
        color: #fff;
        font-weight: 600;
        transition: 0.2s;

    }

    .menu-container-admin .main_Menu .dropdow_Focus h1 {
        border-bottom: 2px solid #fff;
        background: var(--primary-primary-50, #EFEFFD);
        color: var(--primary-primary-500, #5C59E8);
    }

    .nutanhien_menu {
        position: fixed;
        display: none;
    }

    .nutanhien_menu button {
        padding: 10px;
        border: none;
        width: 40px;
        text-align: center;
        background-color: #5C59E8;
        color: #fff;
        border-radius: 5px;
        margin: 5px;

    }

    .bottom_siderbar_admin {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }

    .bottom_siderbar_admin .dangXuat_Admin button {
        background-color: #5C59E8;
        display: flex;
        width: 228px;
        padding: 10px 14px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 8px;
        color: #fff;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        margin-top: 10px;
    }

    @media (max-width: 768px) {
        .container-admin {
            position: fixed;
        }

        .nutanhien_menu {
            display: block;
        }

    }
}