.divcss-tq0shg1{
    background-color: rgb(232, 250, 255);
   
}
.Header_Admin{
    float: left;
    width: 18%;
}

.trang_Admin{
    width: 80%;
    float: right;
    overflow: hidden;
}






@media (max-width: 768px) {
    .trang_Admin{
        width: 100%;
        overflow: hidden;
    }
    .Header_Admin{
        position: fixed;
        width: 70%;
    }
    
}