.divcss-tq0shg1{
    background-color: #F9F9FC;
   overflow: hidden;
}
.Header_Admin{
    float: left;
    width: 18%;
}

.trang_Admin{
<<<<<<< HEAD
    width: 82%;
=======
    width: 80%;
>>>>>>> origin/develop
    float: right;
    overflow: hidden;
}



<<<<<<< HEAD
=======



>>>>>>> origin/develop
@media (max-width: 768px) {
    .trang_Admin{
        width: 100%;
        overflow: hidden;
    }
    .Header_Admin{
        position: fixed;
        width: 70%;
    }

}